@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background: url('https://cdn.pixabay.com/photo/2012/11/01/02/13/glacier-bay-63727_960_720.jpg');
    background-size: cover;
    height: 100vh;
}

header {
    display: grid;
    grid-column: 1 / 3;
    justify-items: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.controls-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    width: clamp(200px, 250px, 300px);
    height: clamp(200px, 500px, 600px);
    gap: 5px;
    place-self: center;
}

.controls-label {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 10px;
    line-height: 1.5;
    padding: 0.5em;
}

#color-picker-label {
    flex-direction: row;
}

#grid-slider-label {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.label-title {
    text-align: center;
}

.range-values {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 0.5em;
    border-style: none;
    font-size: 20px;
    transition: scale 1.5s, background-color 1s;
}

button:hover {
    background-color: #aaa;
    color: #eee;
    scale: 1.02;
}

/* Indicates when a mode button is the current active mode */
.active {
    background-color: #888;
}

#clear-button {
    grid-column: 1 / 3;
}

.grid-container {
    display: grid;
    background-color: gray;
    width: clamp(300px, 500px, 600px);
    height: clamp(300px, 500px, 600px);
    max-width: 600px;
    max-height: 600px;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-flow: column;
    grid-column: 2 / 3;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.grid-cell {
    background-color: #eee;
    box-sizing: border-box;
    border: 1px solid black; /* default border */
}

.footer {
    display: grid;
    grid-column: 1 / 3;
    justify-content: center;
    align-content: center;
    padding: 1em;
    color: #ddd;
    font-size: 20px;
}

a {
    text-decoration: none;
    transition: font-size 1s;
}

a:hover {
    font-size: 36px;
}

a:visited {
    color: black;
}

/* Do not delete this commented code. It will be used with media queries for mobile devices */

/* Handles the toggle mode and all possible toggable buttons in the future */
/*
button[value="on"] {
    background-color: #aaa;
}
*/

/* This is needed so that the togglable buttons can be seen on mobile */
/*
button[value="off"] {
    background-color: #eee;
    color: black;
}
*/