@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

* {
    padding: 0;
    margin: 0;
}


.body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
    background-color: #f0fdfa;
    color: #444;
}

header {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1 / 4;
}

.grid-container {
    display: grid;
    background-color: gray;
    width: clamp(300px, 500px, 600px);
    height: clamp(300px, 500px, 600px);
    grid-template-columns: repeat(auto-fill, auto);
    grid-template-rows: repeat(auto-fill, auto);
    grid-auto-flow: column;
    grid-column: 2 / 3;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    margin: 2em 0;
}

.grid-tile {
    background-color: #eee;
    border: 1px solid black;
}

.grid-tile:hover {
    background-color: #777;
}

.footer {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-content: center;
    align-content: center;
    background-color: #777;
    background-size: cover;
    padding: 1em;
}